#map {
  margin: 0;
}
.leaflet-popup-content {
  margin: 0;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background-color: #000;
  line-height: normal;
}
.plug-popup {
  width: 180px;
  display: block;
  position: relative;
}
.popup-image {
  width: 180px;
}
.plug-cluster {
  background-image:url('/happy-plug-icon.svg');
  background-repeat: no-repeat;
}
.plug-cluster .count {
  position: relative;
  top: 50%; left: 75%;
  border-radius: 1em;
  background-color: #999;
  color: white;
  font-size: .66rem;
  padding: .125em .75em;
  text-align: center;
}
.popup-venuename, .popup-plugname {
  color: white;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 1.2em;
  width: 100%;
  padding: 0 4px;
  box-sizing: border-box;
  margin: 0;
  position: absolute;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.75);
}
.popup-venuename {
  bottom: 2px;
}
.popup-plugname {
  bottom: 1.5rem;
}

.popup-ownerlink {
  padding: 0 4px;
  margin: 0;
  position: absolute;
  top: 4px;
  right:0;
}

.popup-owneravatar {
  height: 22px;
  width: 22px;
  border: 1px solid #777;
  border-radius: 2px;
}
