#map {
  margin: 0;
}
main {
  bottom:0;
}
.leaflet-popup-content {
  margin: 0;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background-color: #000;
  line-height: normal;
  border-radius: 1px;
}
.plug-popup {
  width: 180px;
  min-height: 72px;
  display: block;
  position: relative;
}
.popup-image {
  width: 180px;
}
.plug-icon {
  background-image:url('/happy-plug-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.plug-icon .count {
  position: relative;
  top: 50%; left: 75%;
  border-radius: 1em;
  background-color: #999;
  color: white;
  font-size: .66rem;
  padding: .125em .75em;
  text-align: center;
}
.popup-venuename, .popup-plugname, a.popup-upvolts {
  color: white;
  height: 1.2em;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.75);
}

.popup-venuename, .popup-plugname {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  padding: 0 4px;
  box-sizing: border-box;
  margin: 0;
  position: absolute;
}

.popup-venuename {
  bottom: 2px;
}
.popup-plugname {
  bottom: 1.5rem;
}

.popup-top {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 4px;
  right: 36px;
  left: 4px;
  text-align: right;
}

.popup-upvolts {
  font-size: 18px;
}

.popup-upvolt-count {
  font-weight: bold;
}

.popup-upvolt-icon {
  height: 1em;
}

.popup-ownerlink {
  padding: 0 4px;
  margin: 0;
  position: absolute;
  top: 4px;
  right: 0;
}

.popup-owneravatar {
  height: 22px;
  width: 22px;
  border: 1px solid #aaa;
  border-radius: 2px;
}
