#map {
  margin: 0;
}
.leaflet-popup-content {
  margin: 0;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background-color: #000;
  line-height: normal;
}
.plug-popup {
  width: 180px;
  display: block;
  position: relative;
}
.popup-image {
  width: 180px;
}
.plug-cluster {
  background-image:url('happy-plug-icon.svg');
  background-repeat: no-repeat;
}
.plug-cluster .count {
  position: relative;
  top: 50%; left: 75%;
  border-radius: 1em;
  background-color: #999;
  color: white;
  font-size: .66rem;
  padding: .125em .75em;
  text-align: center;
}
.popup-venuename, .popup-plugname {
  color: white;
  text-overflow: ellipsis;
  margin: 0;
  position: absolute;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.75);
}
.popup-venuename {
  bottom: 4px;
  left: 4px;
}
.popup-plugname {
  bottom: 20px;
  left: 4px;
}
