#dropmap {
  height: 10rem;
}
main {
  margin: 0;
}
.controls {
  margin: 2rem;
}
.required-image:invalid:after {
  content:'(Required)';
  color: red;
}
.required-image:valid:after {
  content:'Uploaded!';
  color: green;
}