extends layout

block content
  p PlugMap is a project by <a href="http://stuartpb.com">Stuart P. Bentley</a>.
  p The code is available at <a href="https://github.com/plugmap/plugmap.com">https://github.com/plugmap/plugmap.com</a>.
  p#maps.
    We use beautiful maps by <a href="http://www.mapbox.com/">MapBox</a>
    created using data provided by the wonderful &copy; <a href="http://www.openstreetmap.org/">OpenStreetMap</a>
    and contributors, and licensed <a href="http://www.openstreetmap.org/copyright">Open Data Commons Open Database License</a>.
    The interactive maps are generated using the open-source library <a href="http://leafletjs.com/">Leaflet</a>.
  p (That last paragraph was lifted almost directly from Foursquare's about page.)