extends layout

append styles
  link(href='//d591zijq8zntj.cloudfront.net/leaflet-0.5.1/leaflet.css',rel='stylesheet')
  //if lte IE 8
    link(href='//d591zijq8zntj.cloudfront.net/leaflet-0.5.1/leaflet.ie.css',rel='stylesheet')
  link(href='/MarkerCluster.css',rel='stylesheet')
  link(href='/styles/map.css',rel='stylesheet')

append scripts
  script(src='//d591zijq8zntj.cloudfront.net/leaflet-0.5.1/leaflet.js')
  script(src='/leaflet.markercluster.js')
  script(src='/leaflet.restoreview.js')

block main
  main#map
  script(src='/plugmap.js')
