extends layout

block content
  p Account registration is currently invite-only.
  p.
    If you'd like an account and you don't know anybody who can invite you,
    email <a href="mailto:stuart@testtrack4.com?subject=Can+haz+PlugMap+invite%3F&body=Here+is+a+little+about+myself:">stuart@testtrack4.com</a>
    and introduce yourself.