!!!
html
  head
    block head
      meta(charset='utf-8')
      block title
        title PlugMap
      block styles
        link(href='/styles/ui.css',rel='stylesheet')
        link(href='//fonts.googleapis.com/css?family=Russo+One',rel='stylesheet')
      block scripts
      meta(name="viewport",
        content="width=device-width, initial-scale=1, maximum-scale=1")
      block favicons
        link(href='/happy-plug-icon.svg',type='image/svg+xml',sizes='any',rel='icon')
        link(href='/favicon@16x.png',type='image/png',sizes='256x256',rel='icon')
        link(href='/favicon@8x.png',type='image/png',sizes='128x128',rel='icon')
        link(href='/favicon@4x.png',type='image/png',sizes='64x64',rel='icon')
        link(href='/favicon@2x.png',type='image/png',sizes='32x32',rel='icon')
        link(href='/favicon.png',type='image/png',sizes='16x16',rel='icon')
  body
    header
      h1: a(href='/') PlugMap
      .headpanel
        block headpanel
          block headbutton
            if username
              a(href='/submit').button.green Add a plug
            else
              a(href='/login').button.green Log in
          if username
            a(href='/user/'+username,title=username)
              img(src='//gravatar.com/avatar/'+emailMD5).current-user-avatar
    block main
      main
        block content
