extends layout

block content
  p Check your inbox for an email from tokens@plugmap.com for the link to continue.
  p If you do not recieve an email, check your spam folder and make sure your username or email address was correct.
