extends layout

block headpanel
  a(href='/register').button.green Register

block main
  if failure
    .reportFailure= failure
  form(method='post')
    input(type='hidden',name='_csrf',value=csrfToken)
    p Username / Email:
    input(type='text',name='username')
    p Password:
    input(type='password',name='password')
    input(type='submit')
