extends layout

block headbutton
  if username
    a(href='/submit').button.green Add a plug
  else
    a(href='/register').button.green Register

block main
  if typeof failure != 'undefined' && failure
    .report-failure= failure
  form(method='post')
    input(type='hidden',name='_csrf',value=csrfToken)
    p Username / Email:
    input(type='text',name='username')
    p Password:
    input(type='password',name='password')
    input(type='submit')
