extends layout

append styles
  link(href='/styles/plug.css',rel='stylesheet')

block content
  .infocard
    h2.plugvenue= plug.venue
    h3.plugname= plug.name
    img(src=plug.images[720]).plugimage