extends layout

append styles
  link(href='/styles/plug.css',rel='stylesheet')
  link(href='/styles/icons.css',rel='stylesheet')

block content
  .infocard
    img(src=plug.images[720]).plugimage
    h2.plugvenue= plug.venue
    h3.plugname= plug.name
    .ownercredit
      ="mapped by "
      //- if the currently logged-in user mapped this
      if currentUser && plug.owner._id == currentUser._id
        a(href='/user/'+plug.owner.username).ownername you
      else
        a(href='/user/'+plug.owner.username).ownername
          = plug.owner.username
          img(src='//gravatar.com/avatar/'+plug.owner.emailMD5).owneravatar
    #upvolt-button(
      class = (currentUser && ~plug.upvolters.indexOf(currentUser._id)) ?
        'upvolted' : '')
      span.icon-upvolt
      =' '
      span.upvolt-count= plug.upvolters.length
      =' Upvolts'
    if currentUser
      script(src="upvolt.js")