extends layout

block main
  p Enter your email address:
  form(method='post')
    input(type='hidden',name='_csrf',value=csrfToken)
    input(type='email',name='email')
    input(type='submit')
  p You will be e-mailed with a link to create your account.