!!!
html
  head
    title PlugMap
    link(href='plugmap.css',rel='stylesheet')
    link(href='//fonts.googleapis.com/css?family=Russo+One',rel='stylesheet')
    link(href='favicon.png',rel='icon')
  body
    header
      h1 PlugMap
      a.button.green#login-button Log in
    main
      p Check your inbox for an email from tokens@plugmap.com for the link to continue.