extends layout

append styles
  link(href='//dnv9my2eseobd.cloudfront.net/mapbox.js/v1.0.3/mapbox.css',rel='stylesheet')
  //if lte IE 8
    link(href='//dnv9my2eseobd.cloudfront.net/mapbox.js/v1.0.3/mapbox.ie.css',rel='stylesheet')
  link(href='/map.css',rel='stylesheet')

append scripts
  script(src='//dnv9my2eseobd.cloudfront.net/mapbox.js/v1.0.3/mapbox.js')

block content
  #dropmap
  form(method='post',enctype="multipart/form-data")
    input(type='hidden',name='_csrf',value=csrfToken)
    input(type='hidden',name='from',value='websubmit/0.1')
    p: label Longitude:
      input(type='number',step='any',name='longitude',value='-122.33769352761296')#pluglong
    p: label Latitude:
      input(type='number',step='any',name='latitude',value='47.61118157075462')#pluglat
    p: label Plug image:
      input(type="file", name='plugimage', accept="image/*")
    p: label Venue:
      input(type='text',name='venue')
    p: label Name:
      input(type='text',name='name')
    p: label Number of sockets:
      input(type='number',name='sockets',value=2)
    p: input(type='submit')
    script(src='/dropmap.js')
