extends layout

append styles
  link(href='//dnv9my2eseobd.cloudfront.net/mapbox.js/v1.0.3/mapbox.css',rel='stylesheet')
  //if lte IE 8
    link(href='//dnv9my2eseobd.cloudfront.net/mapbox.js/v1.0.3/mapbox.ie.css',rel='stylesheet')
  link(href='/styles/submit.css',rel='stylesheet')

append scripts
  script(src='//dnv9my2eseobd.cloudfront.net/mapbox.js/v1.0.3/mapbox.js')
  script(src='//api.filepicker.io/v1/filepicker.js')

block content
  #dropmap
  form(method='post')
    input(type='hidden',name='_csrf',value=csrfToken)
    input(type='hidden',name='from',value='websubmit/0.1')
    p: label Longitude:
      input(type='number',step='any',name='longitude',value='-122.33769352761296')#pluglong
    p: label Latitude:
      input(type='number',step='any',name='latitude',value='47.61118157075462')#pluglat
    p: input(type="filepicker", name='plugimage', accept="image/*",
        data-fp-mimetype="image/*", data-fp-button-text='Pick plug image')
    p: label Venue:
      input(type='text',name='venue')
    p: label Name:
      input(type='text',name='name')
    p: label Number of sockets:
      input(type='number',name='sockets',value=2)
    p: input(type='submit')
    script(src='/dropmap.js')
