extends layout

block main
  form(method='post')
    input(type='hidden',name='_csrf',value=csrfToken)
    p Longitude:
    input(type='number',name='longitude')
    p Latitude:
    input(type='number',name='latitude')
    p Venue:
    input(type='text',name='venue')
    p Name:
    input(type='text',name='name')
    p Number of sockets:
    input(type='number',name='sockets')
    input(type='submit')
