extends layout

append styles
  link(href='//d591zijq8zntj.cloudfront.net/leaflet-0.5.1/leaflet.css',rel='stylesheet')
  //if lte IE 8
    link(href='//d591zijq8zntj.cloudfront.net/leaflet-0.5.1/leaflet.ie.css',rel='stylesheet')
  link(href='/styles/submit.css',rel='stylesheet')

append scripts
  script(src='//d591zijq8zntj.cloudfront.net/leaflet-0.5.1/leaflet.js')
  script(src='/leaflet.restoreview.js')
  script(src='//api.filepicker.io/v1/filepicker.js')

block content
  #dropmap
  form(method='post').controls
    input(type='hidden',name='_csrf',value=csrfToken)
    input(type='hidden',name='from',value='websubmit/0.1')
    input(type='hidden',step='any',name='longitude',required)#pluglong
    input(type='hidden',step='any',name='latitude',required)#pluglat
    p Tap the map above to set the plug's location
    p
      input(type="filepicker", name='plugimage', accept="image/*", required,
        data-fp-mimetype="image/*", data-fp-button-text='Pick plug image').required-image
      | (Required)
    p: label Venue:
      input(type='text',name='venue',placeholder='eg. Starbucks',required)
    p: label Name / Spot:
      input(type='text',name='name',placeholder='eg. Under the long table',required)
    p: label Number of sockets:
      input(type='number',name='sockets',value=2,required)
    p: input(type='submit')
    script(src='/dropmap.js')
