extends layout

append styles
  link(href='//dnv9my2eseobd.cloudfront.net/mapbox.js/v1.0.3/mapbox.css',rel='stylesheet')
  //if lte IE 8
    link(href='//dnv9my2eseobd.cloudfront.net/mapbox.js/v1.0.3/mapbox.ie.css',rel='stylesheet')

append scripts
  script(src='//dnv9my2eseobd.cloudfront.net/mapbox.js/v1.0.3/mapbox.js')

block main
  form(method='post')
    input(type='hidden',name='_csrf',value=csrfToken)
    #dropmap
    p Longitude:
    input(type='number',name='longitude')#pluglong
    p Latitude:
    input(type='number',name='latitude')#pluglat
    label Plug image
      input(type="file", name='plugimage')
    p Venue:
    input(type='text',name='venue')
    p Name:
    input(type='text',name='name')
    p Number of sockets:
    input(type='number',name='sockets',value=2)
    input(type='submit')
    script.
      /*global L Modernizr*/

      "use strict";

      var pluglong = document.getElementById('pluglong');
      var pluglat = document.getElementById('pluglat');

      var dropmap = L.mapbox.map('dropmap', 'stuartpb.map-6cgn20kd')
        .setView([47.61118157075462, -122.33769352761296], 16);

      var mrkr = L.marker(
        [47.61118157075462, -122.33769352761296],
        {draggable: true});

      mrkr.on('dragend',function(evt){
        var ll = mrkr.getLatLng();
        pluglong.value = ll.lng;
        pluglat.value = ll.lat;
      });

      mrkr.addTo(dropmap);


