#map {
  margin: 0;
}
#dropmap {
  height: 10rem;
}
.leaflet-popup-content {
  margin: 0;
}
.leaflet-popup-content-wrapper {
  background-color: #888;
}
.popup-image {
  width: 120px;
}
.plug-cluster {
  background-image:url('happy-plug-icon.svg');
  background-repeat: no-repeat;
}
.plug-cluster .count {
  position: relative;
  top: 50%; left: 75%;
  border-radius: 1em;
  background-color: #999;
  color: white;
  font-size: .66rem;
  padding: .125em .75em;
  text-align: center;
}
.you-are-here-icon {
  font-size: 16px;
  color: red;
}